
      /* CSS reset */
      *{
        padding:0;
        margin:0;
        vertical-align:baseline;
        list-style:none;
        border:0;
        text-decoration: none;
  }

/* Aqui é a animação das setinhas fechando e abrindo*/
/* Setinha abrindo    */

  @-webkit-keyframes spin { 
     from { 
           -webkit-transform: rotate(0deg); 
     } to { 
           -webkit-transform: rotate(90deg); 
     }
  }

  .spining-opening{
     -webkit-animation-name: spin;
     -webkit-animation-duration: 150ms;
     -webkit-animation-timing-function: linear;
     -webkit-animation-fill-mode: forwards;
  }

  /* Setinha fechando    */
  @-webkit-keyframes spin-close { 
     from { 
           -webkit-transform: rotate(90deg); 
     } to { 
           -webkit-transform: rotate(0deg); 
     }
  }

  .spining-closing{
     -webkit-animation-name: spin-close;
     -webkit-animation-duration: 150ms;
     -webkit-animation-timing-function: linear;
  }
/* Cor dos itens da .sidebar */

 .sidebar {
     color:#838383;
 }

 .color{
    color: black;
 }

/* Aqui vai ser os estados das opçoes */
/* Aqui quando a opção esta ativa, ou seja, foi clicada */

 .nav-option-active{
     -webkit-user-select: none;
     color:#fff;
 }

/* Aqui hover da posição clicada */

 .nav-option-active:hover{
     color:#fff;
 }

/* Aqui quando a opção esta inativa */

 .nav-option{
     -webkit-user-select: none;
     color:#838383;
 }

 /* Aqui hover da posição clicada */

 .nav-option:hover{
     color:#fff;
     -webkit-transition: 0.5s
 }

 /*wrapper pra fazer a sidebar dividir a tela com o main*/

 .wrapper{
     display: grid;
     grid-template-areas: "sidebar main";
     grid-template-columns: 300px 1fr;
     height: 100vh;
     overflow: hidden;
 }

 /*Sidebar aberta*/
 .sidebar{
     background-color: #333;
     height: 160vh;
     grid-area: sidebar;
     -webkit-transition-duration: 0.5s;
     transition-duration: 0.5s;
 }
 
 .sidebar:hover{
     overflow-y: auto;
    
 }

 /* Let's get this party started */
 ::-webkit-scrollbar {
     width: 5px;
     
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
     -webkit-border-radius: 10px;
     border-radius: 10px;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
     -webkit-border-radius: 10px;
     border-radius: 10px;
     background: rgba(161, 161, 161, 0.8); 
 }
 ::-webkit-scrollbar-thumb:window-inactive {
     background: rgba(255,0,0,0.4); 
 }

 main{
     grid-area: main;
     background-color: blueviolet;
 }
